body {
  background-color: rgb(105, 167, 187);
}

header {
  height: 290px;
  width: 100%;
  background-color: white;
  background-image: url("https://codefellows.github.io/code-201-guide/curriculum/class-06/lab/assets/salmon.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding-top: 135px;
}

nav {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  padding-top: 96px;
}

a:link{
  background-color: rgb(166, 202, 214);
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  padding: 10px 20px;
  text-decoration: none;
}

a:hover{
  background-color: white;
  color: black;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #323635;
  color: white;
}

.content table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

.content tr:hover {background-color: #ddd;}

.content th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #323635;
  color: white;
}

.collapsible {
  background-color: rgb(61, 135, 160);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 800px;
  border: none;
  text-align: left;
  font-size: 15px;
  margin-top: 30px;
  transition: 600ms ease-in;
}

.active, .collapsible:hover {
  background-color: #555;
  transition: 350ms ease-in;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  max-height: 0;
  width: 800px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  margin: auto;
  text-align: left;
}

.content p{
  padding: 10px 20px;
}

.content ul {
  list-style-type: initial;
  padding-left: 30px;
}
.content li {
  padding: 10px 0;
}
li span {
  background-color: rgb(61, 135, 160);
  color: white;
  padding: 3px 5px;
  border-radius: 10px;
}

li span:hover {
  background-color: #555;
  transition: 350ms ease-in;
}

section h2{
  font-size: 35px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding: 50px 0px 25px 0px;
}

section p, h3 {
  font-size: 25px;
  text-align: center;
  color: white;
  padding: 15px 0px 25px 0px;
}

#tools img {
  padding: 0px 11px;
}

#products div{
  display: inline-block;
  padding: 0px 54px;
}

main {
  text-align: center;
}

footer {
  height: 50px;
  background-color: rgb(61, 135, 160);
  color: white;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
}

fieldset {
  display: inline-block;
  background-color: rgb(61, 135, 160);
  color: white;
  border: 5px solid white;
  padding: 20px;
  border-radius: 15px;
  margin: 50px 0px 100px 0px;
}

legend {
  padding: 5px;
}

input {
  margin: 10px;
  border: 2px solid white;
  background-color: rgb(61, 135, 160);
  color: white;
  border-radius: 5px;
  padding: 3px;
}
::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

button {
  border: none;
  padding: 7px;
  border-radius: 10px;
  background: rgb(129, 189, 209);
  color: white;
}

button:hover{
  border: 2px solid black;
  background-color: white;
  color: black;
  transition: 350ms ease-in;
}